<form [formGroup]="stockPickerForm">
  <mat-form-field>
    <input matInput placeholder="Symbol e.g AAPL" formControlName="symbol" value="" />
    <mat-error><span *ngIf="
          !stockPickerForm.get('symbol').valid &&
          stockPickerForm.get('symbol').touched
        ">Please enter a symbol</span>
    </mat-error>
  </mat-form-field>

  <!-- <mat-form-field>
    <mat-label>Favorite time period</mat-label>
    <mat-select formControlName="period">
      <mat-option *ngFor="let timePeriod of timePeriods" [value]="timePeriod.value">
        {{ timePeriod.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field> -->

  <mat-form-field>
    <input matInput [matDatepicker]="frompicker" [max]="maxDate" placeholder="From date"
    (dateChange)="fromDateChanged($event)" formControlName="fromDate">
    <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
    <mat-datepicker #frompicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="topicker" [min]="minToDate" [max]="maxDate" placeholder="To date" 
    formControlName="toDate">
    <mat-datepicker-toggle matSuffix [for]="topicker"></mat-datepicker-toggle>
    <mat-datepicker #topicker></mat-datepicker>
  </mat-form-field>
</form>

<coding-challenge-chart [data$]="quotes$"></coding-challenge-chart>
